@font-face {
    font-family: 'Avenir';
    src:
        local('../fonts/Avenir-85-Heavy'),
        url('../fonts/Avenir-85-Heavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
