.college-stats {
    margin: 40px 0;

    .stats {
        display: flex;
        justify-content: center;
        border: 1px solid #e0e6ed;
        border-radius: 15px;
        padding: 20px 0;
        color: #b3bbc3;

        & > div {
            text-align: center;
            flex: 1;
            padding: 0 20px;

            &:first-child {
                border-right: 1px solid #e0e6ed;
            }

            h2 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}
